ul{
    font-family: 'Verdana',serif;
    font-size: 22px;
    background-color: rgb(220, 133, 162);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width:60%;
}
li{
    background-color: rgb(188, 156, 201);
    margin-bottom:5px;
    padding:5px;
}